SAMPLER
<span id = "pads">
  <div class="row">
    <span class="pad" (click) = sample1()>  1 </span>
    <span class="pad" (click) = sample2()>  2 </span>
    <span class="pad" (click) = sample3()>  3 </span>
  </div>
  <div class="row">
    <span class="pad" (click) = sample4()>  4 </span>
    <span class="pad" (click) = sample5()>  5 </span>
    <span class="pad" (click) = sample6()>  6 </span>
  </div>
  <div class="row">
    <span class="pad" (click) = sample7()>  7 </span>
    <span class="pad" (click) = sample8()>  8 </span>
    <span class="pad" (click) = sample9()>  9 </span>
  </div>
</span>

<button type="button" (click) = chorusON()>CHORUS</button>
<button type="button" (click) = reverbON()>REVERB</button>
<button type="button" (click) = pitchON()>PITCH SHIFT</button>
