
/*classes*/
.row{
  margin: 1px;
  height: auto;
  width: auto;
}
.pad{
  background: null;
  height: 65px;
  width: 65px;
  margin: 5px;
  border-style: dashed;
  text-align: center;
  font-size: 20pt;
  font-family: monospace;
  text-decoration-color: white;
}

.pad:hover{
  background: blue;
}

/*ID's*/
#colordiv{
  background-color: blue;
  height: 100%;
  width: 100%;
}
#samplerEffects{
  border-width: 2px;
  float: right; clear: right;
  height: 200px;
  width: 250px;  

}

#backgroundMusic{
  background-color: blue;
  height:auto;
  width: 50%;

}

#pads
{
  float: left;
  clear: left;
  height: min-content;
  
}


#wholeting
{
}

/*divs*/
button{
  margin: 5px;
}
