SAMPLER

<span id = "pads">
  <div class="row">
    <span class="pad" (click) = sample1()>  C3 </span>
    <span class="pad" (click) = sample2()>  D3 </span>
    <span class="pad" (click) = sample3()>  E3 </span>
  </div>
  <div class="row">
    <span class="pad" (click) = sample4()>  F3 </span>
    <span class="pad" (click) = sample5()>  G3 </span>
    <span class="pad" (click) = sample6()>  A3 </span>
  </div>
  <div class="row">
    <span class="pad" (click) = sample7()>  B3 </span>
    <span class="pad" (click) = sample8()>  C4 </span>
    <span class="pad" (click) = sample9()>  D4 </span>
  </div>
</span>

<span>
  <div id = "samplerEffects">
    CHORUS:
    <button type="button" (click) = chorusON()>ON</button>
    <button type="button" (click) = chorusOFF()>OFF</button>
    <br>
    REVERB:
    <button type="button" (click) = reverbON()>ON</button>
    <button type="button" (click) = reverbOFF()>OFF</button>
    <br>
    PITCH SHIFT:
    <button type="button" (click) = pitchON()>ON</button>
    <button type="button" (click) = pitchOFF()>OFF</button>
  </div>
</span>

<span>

  <div id = "backgroundMusic">
    Background Music:
    <span class="pad" (click) = BGON()>  ON </span>
    <span class="pad" (click) = BGOFF()>  OFF </span>


    </div>
</span>
