/*classes*/
.row{
  margin: 1px;
  height: auto;
  width: auto;
}
.pad{
  background: white;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-style: dashed;
  text-align: center;
  font-size: 20pt;
  font-family: monospace;
  text-decoration-color: white;
}
.pad:hover{
  background: blue;
}

/*ID's*/
#colordiv{
  background-color: blue;
  height: 100%;
  width: 100%;
}
#samplerEffects{
  border-width: 2px;
  border-style: groove;
  height: 200px;
  width: 250px;
  background-color: green;
}

#backgroundMusic{
  background-color: blue;
  height:auto;
  width: auto;
}

#pads{
  background-color: green;

}

#audioBank {
  background-color: lightblue;
  overflow-y: auto;
  height: 100px;
  width: 250px;
}

/*divs*/
button{
  margin: 5px;
}
