/*classes*/
.row{
  margin: 1px;
  height: auto;
  width: auto;
}
.pad{
  background: white;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-style: dashed;
  text-align: center;
  font-size: 20pt;
  font-family: monospace;
  text-decoration-color: white;
}
.pad:hover{
  background: blue;
}

/*ID's*/
#samplerEffects{
  border-width: 2px;
  border-style: groove;
  height: 200px;
  width: 250px;
}

/*divs*/
button{
  margin: 5px;

}
