
<div id ="seqContainer">

  <div class="column">
    <div class="cell" id="cell000" (click) = "activate('cell000')"></div>
    <div class="cell" id="cell100" (click) = "activate('cell100')"></div>
    <div class="cell" id="cell200" (click) = "activate('cell200')"></div>
    <div class="cell" id="cell300" (click) = "activate('cell300')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell001" (click) = "activate('cell001')"></div>
    <div class="cell" id="cell101" (click) = "activate('cell101')"></div>
    <div class="cell" id="cell201" (click) = "activate('cell201')"></div>
    <div class="cell" id="cell301" (click) = "activate('cell301')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell002" (click) = "activate('cell002')"></div>
    <div class="cell" id="cell102" (click) = "activate('cell102')"></div>
    <div class="cell" id="cell202" (click) = "activate('cell202')"></div>
    <div class="cell" id="cell302" (click) = "activate('cell302')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell003" (click) = "activate('cell003')"></div>
    <div class="cell" id="cell103" (click) = "activate('cell103')"></div>
    <div class="cell" id="cell203" (click) = "activate('cell203')"></div>
    <div class="cell" id="cell303" (click) = "activate('cell303')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell004" (click) = "activate('cell004')"></div>
    <div class="cell" id="cell104" (click) = "activate('cell104')"></div>
    <div class="cell" id="cell204" (click) = "activate('cell204')"></div>
    <div class="cell" id="cell304" (click) = "activate('cell304')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell005" (click) = "activate('cell005')"></div>
    <div class="cell" id="cell105" (click) = "activate('cell105')"></div>
    <div class="cell" id="cell205" (click) = "activate('cell205')"></div>
    <div class="cell" id="cell305" (click) = "activate('cell305')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell006" (click) = "activate('cell006')"></div>
    <div class="cell" id="cell106" (click) = "activate('cell106')"></div>
    <div class="cell" id="cell206" (click) = "activate('cell206')"></div>
    <div class="cell" id="cell306" (click) = "activate('cell306')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell007" (click) = "activate('cell007')"></div>
    <div class="cell" id="cell107" (click) = "activate('cell107')"></div>
    <div class="cell" id="cell207" (click) = "activate('cell207')"></div>
    <div class="cell" id="cell307" (click) = "activate('cell307')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell008" (click) = "activate('cell008')"></div>
    <div class="cell" id="cell108" (click) = "activate('cell108')"></div>
    <div class="cell" id="cell208" (click) = "activate('cell208')"></div>
    <div class="cell" id="cell308" (click) = "activate('cell308')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell009" (click) = "activate('cell009')"></div>
    <div class="cell" id="cell109" (click) = "activate('cell109')"></div>
    <div class="cell" id="cell209" (click) = "activate('cell209')"></div>
    <div class="cell" id="cell309" (click) = "activate('cell309')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell010" (click) = "activate('cell010')"></div>
    <div class="cell" id="cell110" (click) = "activate('cell110')"></div>
    <div class="cell" id="cell210" (click) = "activate('cell210')"></div>
    <div class="cell" id="cell310" (click) = "activate('cell310')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell011" (click) = "activate('cell011')"></div>
    <div class="cell" id="cell111" (click) = "activate('cell111')"></div>
    <div class="cell" id="cell211" (click) = "activate('cell211')"></div>
    <div class="cell" id="cell311" (click) = "activate('cell311')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell012" (click) = "activate('cell012')"></div>
    <div class="cell" id="cell112" (click) = "activate('cell112')"></div>
    <div class="cell" id="cell212" (click) = "activate('cell212')"></div>
    <div class="cell" id="cell312" (click) = "activate('cell312')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell013" (click) = "activate('cell013')"></div>
    <div class="cell" id="cell113" (click) = "activate('cell113')"></div>
    <div class="cell" id="cell213" (click) = "activate('cell213')"></div>
    <div class="cell" id="cell313" (click) = "activate('cell313')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell014" (click) = "activate('cell014')"></div>
    <div class="cell" id="cell114" (click) = "activate('cell114')"></div>
    <div class="cell" id="cell214" (click) = "activate('cell214')"></div>
    <div class="cell" id="cell314" (click) = "activate('cell314')"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell015" (click) = "activate('cell015')"></div>
    <div class="cell" id="cell115" (click) = "activate('cell115')"></div>
    <div class="cell" id="cell215" (click) = "activate('cell215')"></div>
    <div class="cell" id="cell315" (click) = "activate('cell315')"></div>
  </div>






</div>
