
<div id ="seqContainer">

  <div class="column">
    <div class="cell" id="cell000" (click) = "activate('cell000')" data-note_pos = "C4_0:0:0"></div>
    <div class="cell" id="cell100" (click) = "activate('cell100')" data-note_pos = "D4_0:0:0"></div>
    <div class="cell" id="cell200" (click) = "activate('cell200')" data-note_pos = "E4_0:0:0"></div>
    <div class="cell" id="cell300" (click) = "activate('cell300')" data-note_pos = "F4_0:0:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell001" (click) = "activate('cell001')" data-note_pos = "C4_0:1:0"></div>
    <div class="cell" id="cell101" (click) = "activate('cell101')" data-note_pos = "D4_0:1:0"></div>
    <div class="cell" id="cell201" (click) = "activate('cell201')" data-note_pos = "E4_0:1:0"></div>
    <div class="cell" id="cell301" (click) = "activate('cell301')" data-note_pos = "F4_0:1:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell002" (click) = "activate('cell002')" data-note_pos = "C4_0:2:0"></div>
    <div class="cell" id="cell102" (click) = "activate('cell102')" data-note_pos = "D4_0:2:0"></div>
    <div class="cell" id="cell202" (click) = "activate('cell202')" data-note_pos = "E4_0:2:0"></div>
    <div class="cell" id="cell302" (click) = "activate('cell302')" data-note_pos = "F4_0:2:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell003" (click) = "activate('cell003')" data-note_pos = "C4_0:3:0"></div>
    <div class="cell" id="cell103" (click) = "activate('cell103')" data-note_pos = "D4_0:3:0"></div>
    <div class="cell" id="cell203" (click) = "activate('cell203')" data-note_pos = "E4_0:3:0"></div>
    <div class="cell" id="cell303" (click) = "activate('cell303')" data-note_pos = "F4_0:3:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell004" (click) = "activate('cell004')" data-note_pos = "C4_1:0:0"></div>
    <div class="cell" id="cell104" (click) = "activate('cell104')" data-note_pos = "D4_1:0:0"></div>
    <div class="cell" id="cell204" (click) = "activate('cell204')" data-note_pos = "E4_1:0:0"></div>
    <div class="cell" id="cell304" (click) = "activate('cell304')" data-note_pos = "F4_1:0:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell005" (click) = "activate('cell005')" data-note_pos = "C4_1:1:0"></div>
    <div class="cell" id="cell105" (click) = "activate('cell105')" data-note_pos = "D4_1:1:0"></div>
    <div class="cell" id="cell205" (click) = "activate('cell205')" data-note_pos = "E4_1:1:0"></div>
    <div class="cell" id="cell305" (click) = "activate('cell305')" data-note_pos = "F4_1:1:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell006" (click) = "activate('cell006')" data-note_pos = "C4_1:2:0"></div>
    <div class="cell" id="cell106" (click) = "activate('cell106')" data-note_pos = "D4_1:2:0"></div>
    <div class="cell" id="cell206" (click) = "activate('cell206')" data-note_pos = "E4_1:2:0"></div>
    <div class="cell" id="cell306" (click) = "activate('cell306')" data-note_pos = "F4_1:2:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell007" (click) = "activate('cell007')" data-note_pos = "C4_1:3:0"></div>
    <div class="cell" id="cell107" (click) = "activate('cell107')" data-note_pos = "D4_1:3:0"></div>
    <div class="cell" id="cell207" (click) = "activate('cell207')" data-note_pos = "E4_1:3:0"></div>
    <div class="cell" id="cell307" (click) = "activate('cell307')" data-note_pos = "F4_1:3:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell008" (click) = "activate('cell008')" data-note_pos = "C4_2:0:0"></div>
    <div class="cell" id="cell108" (click) = "activate('cell108')" data-note_pos = "D4_2:0:0"></div>
    <div class="cell" id="cell208" (click) = "activate('cell208')" data-note_pos = "E4_2:0:0"></div>
    <div class="cell" id="cell308" (click) = "activate('cell308')" data-note_pos = "F4_2:0:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell009" (click) = "activate('cell009')" data-note_pos = "C4_2:1:0"></div>
    <div class="cell" id="cell109" (click) = "activate('cell109')" data-note_pos = "D4_2:1:0"></div>
    <div class="cell" id="cell209" (click) = "activate('cell209')" data-note_pos = "E4_2:1:0"></div>
    <div class="cell" id="cell309" (click) = "activate('cell309')" data-note_pos = "F4_2:1:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell010" (click) = "activate('cell010')" data-note_pos = "C4_2:2:0"></div>
    <div class="cell" id="cell110" (click) = "activate('cell110')" data-note_pos = "D4_2:2:0"></div>
    <div class="cell" id="cell210" (click) = "activate('cell210')" data-note_pos = "E4_2:2:0"></div>
    <div class="cell" id="cell310" (click) = "activate('cell310')" data-note_pos = "F4_2:2:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell011" (click) = "activate('cell011')" data-note_pos = "C4_2:3:0"></div>
    <div class="cell" id="cell111" (click) = "activate('cell111')" data-note_pos = "D4_2:3:0"></div>
    <div class="cell" id="cell211" (click) = "activate('cell211')" data-note_pos = "E4_2:3:0"></div>
    <div class="cell" id="cell311" (click) = "activate('cell311')" data-note_pos = "F4_2:3:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell012" (click) = "activate('cell012')" data-note_pos = "C4_3:0:0"></div>
    <div class="cell" id="cell112" (click) = "activate('cell112')" data-note_pos = "D4_3:0:0"></div>
    <div class="cell" id="cell212" (click) = "activate('cell212')" data-note_pos = "E4_3:0:0"></div>
    <div class="cell" id="cell312" (click) = "activate('cell312')" data-note_pos = "F4_3:0:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell013" (click) = "activate('cell013')" data-note_pos = "C4_3:1:0"></div>
    <div class="cell" id="cell113" (click) = "activate('cell113')" data-note_pos = "D4_3:1:0"></div>
    <div class="cell" id="cell213" (click) = "activate('cell213')" data-note_pos = "E4_3:1:0"></div>
    <div class="cell" id="cell313" (click) = "activate('cell313')" data-note_pos = "F4_3:1:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell014" (click) = "activate('cell014')" data-note_pos = "C4_3:2:0"></div>
    <div class="cell" id="cell114" (click) = "activate('cell114')" data-note_pos = "D4_3:2:0"></div>
    <div class="cell" id="cell214" (click) = "activate('cell214')" data-note_pos = "E4_3:2:0"></div>
    <div class="cell" id="cell314" (click) = "activate('cell314')" data-note_pos = "F4_3:2:0"></div>
  </div>
  <div class="column">
    <div class="cell" id="cell015" (click) = "activate('cell015')" data-note_pos = "C4_3:3:0"></div>
    <div class="cell" id="cell115" (click) = "activate('cell115')" data-note_pos = "C4_3:3:0"></div>
    <div class="cell" id="cell215" (click) = "activate('cell215')" data-note_pos = "C4_3:3:0"></div>
    <div class="cell" id="cell315" (click) = "activate('cell315')" data-note_pos = "C4_3:3:0"></div>
  </div>






</div>
