<p>waveform works!</p>
<div id="waveform">
    <button type="button" (click) = initWavesurfer()> WAVEFORM</button>
  </div>



<div class = "waveTrackBox">
  <div class = "buttonBox">
    <button class = "trackBox" (click) = "showList($event, 'trackList')" id ="defaultOpen">Tracks</button>
    <button class = "trackBox" (click) = "showList($event, 'sampleList')">Samples</button>
  </div>


  <div id = "trackList" class = "list">
    <div id = "tracks" *ngFor = "let track of loadedTracks" (click) = "loadToWaveForm(track)" >
      {{track}}</div> <!-- add the correct click function create a list to be served -->
  </div>

  <div id = "sampleList" class = "list">
    <div id = "samples" *ngFor = "let sample of trackSamples" (click) = "applyToPad(sample)" >
      {{sample}}</div> <!-- add the correct click function create a list to be served -->
  </div>

</div>

<div class = "loadTracks">
  <label for="file">Choose File</label>
  <input type="file"
          id="file"
          (change) = "loadFile($event.target.files)" ></div>
<div id = "wavePlay" (click) = playTrack()>play</div>
