<!--
<app-signup></app-signup>
<app-login></app-login>
<app-list></app-list>
<app-sequencer></app-sequencer>
<app-sampler></app-sampler>
<app-waveform></app-waveform>
 -->
<app-signup></app-signup>
<app-login></app-login>
<div id="mainbody">

  <span id="List">
    <app-list></app-list>
  </span>


  <span id='container'>
    <div id="SampSeqContainer">


    <span id="Sampler">
      <app-sampler></app-sampler>
    </span>
    <span id="Sequencer">
      <app-sequencer></app-sequencer>
    </span>
    <div id="Waveform">
      <app-waveform></app-waveform>
    </div>
    </div>
  </span>
</div>



<!-- <div class = "testbuttons" id = "testButtons">
  Test buttons:
  <br>
  <button type="button" (click) = "playC()">C</button>
  <button type="button" (click) = "playD()">D</button>
  <button type="button" (click) = "playE()">E</button>
  <button type="button" (click) = "playF()">F</button>
  <button type="button" (click) = "playG()">G</button>
  <button type="button" (click) = "playA()">A</button>
  <button type="button" (click) = "playB()">B</button>
  <br>
  <button type="button" (click) = octaveUp()>OCT UP</button>
  <button type="button" (click) = octaveDown()>OCT DOWN</button>

  <button type="button" (click) = startLoop()>Test</button>
  <button type="button" (click) = stopIt()>Stop</button>
  <button type="button" (click) = logPosition()>log</button>
  <br>
</div> -->
