/* .host-event-testing{
  width: 300px;
  height: 300px;
  border: 2px solid #39ff14;
  background-color: honeydew;
} */

#mainbody{
  height:auto;
  width:auto;
  margin: 10px;
  border:15px;
  /* border-style: double; */
  border-radius: 5%;
  padding: 10px;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
}

#List{
  height: max-content;
  width: min-content;
  float: left;
  clear: left;
  position: relative;
}

#Sequencer{
  margin: 30px;
  float: left;
}

#Sampler{
  margin: 30px;
  float: left;
  clear: right;
}

#Waveform{
  margin: 30px;

  position: absolute;
  bottom: 100px;
  left: 300px;
}
