  <div id = "sampler-box">
    <div cdkDropList (cdkDropListDropped) = drop($event)>
      <div class = "audio-bank" *ngFor="let artist of artists" cdkDrag>{{artist}}</div>
    </div>


    <div class = "sampler-pad-box">
      <div class = "sampler-pads" id = "sampler-pad-button-1" (click) = "playC()">C</div>
      <div class = "sampler-pads" id = "sampler-pad-button-2" (click) = "playD()">D</div>
      <div class = "sampler-pads" id = "sampler-pad-button-3" (click) = "playE()">E</div>
      <div class = "sampler-pads" id = "sampler-pad-button-4" (click) = "playF()">F</div>
      <div class = "sampler-pads" id = "sampler-pad-button-5" (click) = "playG()">G</div>
      <div class = "sampler-pads" id = "sampler-pad-button-6" (click) = "playA()">A</div>
      <div class = "sampler-pads" id = "sampler-pad-button-7" (click) = "playB()">B</div>
      <div class = "sampler-pads" id = "sampler-pad-button-8" (click) = "playC()">C</div>
      <div class = "sampler-pads" id = "sampler-pad-button-9" (click) = "playD()">D</div>

    </div>

    <div id = "sampler-audio-wave"></div>


  </div>
