/*classes*/
.instrument{
    background: white;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-style: solid;
    text-align: center;
}

/*ID's*/
#thing{
    height:auto;
    width:auto;
    margin: 10px;
    border:10px;
    border-style: double;
    border-radius: 5%;
    padding: 10px;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    
}

#sampler{
  height: auto;
  width: 40%;
  border-style: solid;
  /*absolute position made it enclose the pads but still messed it up*/
  /*position: absolute;*/
  position: relative;
  padding: 2px;
  text-align: center;

}

#sequencer{
  position: relative;
  width: auto;
  height: 300px;
}

#waveform{
  position: absolute;
  top: 40px;
  left: 42%;
  width: 55%;
  height: 400px;
  border: 2px solid black;

}

#testButtons{
  background-color: white;
  position: absolute;
  margin: 10px;
  border-width: 3px;
  border-style: solid;
}

/*divs*/
button{
  margin: 5px;

}












#sampler-box {
  background-color: #666666;
  position: relative;
  height: 350px;
  width: 50%;
  margin-left: 13px;
  margin-top: 25px;
}

.audio-bank{
  background-color: blue;
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sampler-pad-box {

  display: grid;
  grid-template-columns: auto auto auto;
  background-color: blue;
  height: 56%;
  width: 25%;
  top: 15px;
  left: 30%;
  margin: 15px;
}

.sampler-pads {
  height: 30px;
  width: 30%;
  background-color: red;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 12px;
}
.sampler-pads:hover{
  background-color: #ff6666
}

#sampler-audio-wave{
  display: none;
  background-color: blue;
  position: absolute;
  top: 15px;
  margin-right: 15px;
  right: 0px;
  height: 56%;
  width: 30%;
}
