HEY BITCH!


<div id = "thing">

  <div class="instrument" id="sampler">
SAMPLER
  </div>

  <div class="instrument" id="sequencer">
SEQUENCER
  </div>

  <div class="instrument" id="waveform">
WAVEFORM
  </div>


<button type="button" (click) = "playC()">C</button>
<button type="button" (click) = "playD()">D</button>
<button type="button" (click) = "playE()">E</button>
<button type="button" (click) = "playF()">F</button>
<button type="button" (click) = "playG()">G</button>
<button type="button" (click) = "playA()">A</button>
<button type="button" (click) = "playB()">B</button>

<hr>

<button type="button" (click) = "playC()">C</button>
<button type="button" (click) = "playD()">D</button>
<button type="button" (click) = "playE()">E</button>
<button type="button" (click) = "playF()">F</button>
<button type="button" (click) = "playG()">G</button>
<button type="button" (click) = "playA()">A</button>
<button type="button" (click) = "playB()">B</button>
</div>

<button type="button" (click) = octaveUp()>OCT UP</button>
<button type="button" (click) = octaveDown()>OCT DOWN</button>





<div id = "sampler-box">

  <div id = "audio-bank"></div>

  
  <div class = "sampler-pad-box">
    <div class = "sampler-pads" id = "sampler-pad-button-1" (click) = "playC()">C</div>
    <div class = "sampler-pads" id = "sampler-pad-button-2" (click) = "playD()">D</div>
    <div class = "sampler-pads" id = "sampler-pad-button-3" (click) = "playE()">E</div>
    <div class = "sampler-pads" id = "sampler-pad-button-4" (click) = "playF()">F</div>
    <div class = "sampler-pads" id = "sampler-pad-button-5" (click) = "playG()">G</div>
    <div class = "sampler-pads" id = "sampler-pad-button-6" (click) = "playA()">A</div>
    <div class = "sampler-pads" id = "sampler-pad-button-7" (click) = "playB()">B</div>
    <div class = "sampler-pads" id = "sampler-pad-button-8" (click) = "playC()">C</div>
    <div class = "sampler-pads" id = "sampler-pad-button-9" (click) = "playD()">D</div>

  </div>

  <div id = "sampler-audio-wave">

  </div>
</div>
